# 此为注释
#忽略所有.a结尾的文件
*.a
#但lib.a除外
!lib.a
#仅仅忽略项目根目录下的TODO文件
/TODO
#忽略build/目录下的所有文件
build/
#会忽略doc/notes.txt文件但不包括doc/server/arch.txt
doc/*.txt
#ignore all the .txt files in the doc/ directory
doc/**/*.txt
 
